<html>
    

    <body>
    <h1>Welcome to Trip Planner!</h1>
    

    <h2>Action Confirmed!</h2>
    
    <a href="http://localhost:3000/viewTrips" ><p>Continue to View Trips</p></a>



    </body>





</html>