<html>
    

    <body>
    <h1>Welcome to Trip Planner!</h1>
    
    <form action="/add-trip" method="POST">
        <input type="text" name="tripLocation" placeholder="Trip Location">
        <input type="text" name="image" placeholder="Image URL">
        <input type="date" name="dateDeparture" placeholder="Departure Date">
        <input type="date" name="dateReturn" placeholder="Return Date">
        <input type="submit" value="Submit">


    </form>
    
    <a href="http://localhost:3000/viewTrips"><h2>View Trips</h2></a>





    </body>





</html>
